@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-100;
}

main {
    @apply container mx-auto p-10;
}

h1 {
    @apply text-3xl font-bold text-slate-900 mb-0;
}

h2 {
    @apply text-2xl font-bold text-slate-800;
}

h3 {
    @apply text-xl font-bold text-slate-700;
}

p {
    @apply text-lg text-slate-600 mt-5 mb-0;
}

label {
    @apply text-slate-700 mt-5 block mb-2;
}